* {
  box-sizing: border-box;
}

:root {
  --base-text-clr: black;
  --base-bg-clr: white;
}

:root.changed {
  --base-text-clr: white;
  --base-bg-clr: #212121;
}

body {
  margin: 0;
  padding: 2em;
  font-family: sans-serif;
  min-height: 100vh;
  color: var(--base-text-clr);
  background-color: var(--base-bg-clr);
}

button {
  padding: 1em 1.5em;
  border-radius: 1.5em;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px 1px black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-text-clr: white;
    --base-bg-clr: #212121;
  }

  :root.changed {
    --base-text-clr: black;
    --base-bg-clr: white;
  }

  button {
    color: white;
    background-color: #212121;
  }
}
